<style type="text/css">
.universal{padding-left: 50px;}
.green{color: green;}
.notice{background:white;padding:10px;}
.notice h3{color:black;font-size:14px;text-align:center;}
.miwallet{color:white;background:rgba(0,0,0,0.6);font-size: 13px;padding:6px;border-radius:6px;margin-bottom: 3px;}
.message{height:44px;padding:10px;color:white;font-weight:normal;background:#333;text-align:left;}
.appbanner{height:auto;background: url(/static/img/back03.jpg)no-repeat center center;background-size:cover;background-attachment: fixed;}
.appcortain{background:rgba(0,0,0,0.2);width:100%;height:auto;padding:20px;}
.wallet{padding:10px;width:100%;height:auto;background:rgba(0,0,0,0.8);border-radius:10px;}
.wikclogo{width:80px;}
.ikcw{color:#fff;font-size:11px;}
.figure{padding:10px;}
.datew{font-size:12px;color:#ece2e2;}
.mailw{width:100%;text-align:right;}
.mailw p{font-size:12px;color:white;font-size:10px;}
.chargew{background:#eaba0c;color:#fff;padding:10px 20px;border-radius:10px;display:inline-block;font-size: 14px;}
.wright{text-align:right;width:150px;}
.wallet table h3{font-size:24px;font-weight:bold;color:white;text-align:right;}
.wallet table{width: 100%;}
.cesta{background:rgba(0,0,0,0.62);color:#fff;padding:10px 20px;display:inline-block;font-size: 12px;margin-top: 5px;}

.appleft{display:inline-block;vertical-align:top; width:50%;}
.appright{display:inline-block;vertical-align:top; width:49%;}
.appavatar{border-radius:50%;position:relative;display:inline-block;padding:16px;background:rgba(255,255,255,0.5);height:120px;width: 120px;}
.appavatar img{width:120px;height:120px;border-radius:50%;opacity:1;}
.appavatar img:hover{opacity:0.8;}
.appleft h2{font-size:36px;color:white;padding:10px;dispĺay:block;}
.float{z-index:2;border-radius:50%;position:absolute;background:rgba(0,0,0,0.8);padding:5px;display:inline-block;top:5px;left:5px;}
.float img{width:26px;height:26px;}

.welcome-left{display: inline-block;vertical-align: top;background: white;}
            .welcome-right{display: inline-block;vertical-align: top;height: 100%;}
            .welcome-left{width:50%!important;height: 100%;overflow: auto;}
            .welcome-right{width:49%!important;height:100%;background: white;padding: 0px;overflow: auto;}
            .welcome-container{background:#9854ff;padding: 0px;height: 100%;}

@media screen and (max-width:1000px){
    .appleft{display:inline-block;vertical-align:top; width:100%;}
    .appright{display:inline-block;vertical-align:top; width:100%;}
    .welcome-left{width:100%!important;height: 100%;overflow: auto;}
    .welcome-right{width:100%!important;height:100%;background: white;
}
</style>