 {%if user.userprofile%}
 <a id="hidden" class="addfriend" href="javascript:addfriend();">Agregar a mis contactos</a>
{%else%}
 <a id="hidden" class="addfriend" href="{%url 'app.signup'%}">Crea una cuenta para contactar a este usuario</a>
 {%endif%}

    {%for friends in friends%}
    {% if friends.friendof.id == userprofile.id%}
    <a class="addfriend" href="#">Este usuario ya esta entre sus contactos</a>
    <script type="text/javascript">
        document.getElementById('hidden').className = 'hidden';
    </script>
    {%endif%}
    {%endfor%}
    <a id="botonf" class="hidden" href="#">Este usuario ya esta entre sus contactos</a>

<div id="friendship"></div>

<script type="text/javascript">
	function addfriend(){
	var refer = "/addfriends/{{userprofile.id}}";
    $("#friendship").load(refer);
    document.getElementById('hidden').className = 'hidden';
    document.getElementById('botonf').className = 'addfriend';
	}

</script>

<style type="text/css">
	.hidden{display: none;}
	.addfriend{display: inline-block;padding: 10px 20px;margin: 5px;background: #491b90;border-radius: 10px;color: white;font-size: 18px;text-align: center;}
</style>