<div id="apploader" class="appclose">
<div id="appglass">
<a class="closedl" href="javascript:appclose()">Cerrar</a>
<div id="appsite"></div>    
</div>
</div>
<script type="text/javascript">
		function applinks(){
            document.getElementById('apploader').className = 'appopen';
            $("#appsite").load('{%url 'app.loading_app'%}');
            function loading(){
                $("#appsite").load('{%url 'app.app'%}');
                }
            setTimeout(loading, 3000);
		};
        function appeventos(){
            document.getElementById('apploader').className = 'appopen';
            $("#appsite").load('{%url 'app.loading_app'%}');
            function loading(){
                $("#appsite").load('{%url 'app.dates_app'%}');
                }
            setTimeout(loading, 3000);
		};
        function appcharge(){
            document.getElementById('apploader').className = 'appopen';
            $("#appsite").load('{%url 'app.loading_app'%}');
            function loading(){
                $("#appsite").load('{%url 'app.charge_app'%}');
                }
            setTimeout(loading, 3000);
		};
        function appfriends(){
            document.getElementById('apploader').className = 'appopen';
            $("#appsite").load('{%url 'app.loading_app'%}');
            function loading(){
                $("#appsite").load('{%url 'app.friends_view'%}');
                }
            setTimeout(loading, 3000);
        };
        function appAddTrack(){
            document.getElementById('apploader').className = 'appopen';
            $("#appsite").load('{%url 'app.loading_app'%}');
            function loading(){
                $("#appsite").load('{%url 'app.uploadtrack'%}');
                }
            setTimeout(loading, 3000);
        };
        function appUpdateAvatar(){
            document.getElementById('apploader').className = 'appopen';
            $("#appsite").load('{%url 'app.loading_app'%}');
            function loading(){
                $("#appsite").load('{%url 'app.updateavatar' user.userprofile.slug%}');
                }
            setTimeout(loading, 3000);
        };
        function appUpdatenickname(){
            document.getElementById('apploader').className = 'appopen';
            $("#appsite").load('{%url 'app.loading_app'%}');
            function loading(){
                $("#appsite").load('{%url 'app.updatenickname' user.userprofile.slug%}');
                }
            setTimeout(loading, 3000);
        };
        
</script>
<style type="text/css">
    #apploader{z-index:20;background:rgba(255,255,255,0.8);overflow:hidden;position:fixed;top:0;right:0;padding:10px;}
    .appclose{width:0;height:0;padding:0px!important}
    .appopen{width:100%;height:100%}
    .closedl{display:block;padding:10px;color:#333;width:100%;text-align:right;padding-right:40px;background:rgba(0,0,0,0.1) url(/static/img/icons/cerrar.png)no-repeat right 10px center;background-size:30px}
    #appsite{overflow:auto;width:100%;height:100%;}
    #appglass{padding-bottom:60px;overflow:hidden;margin:0 auto;width:300px;height:100%;border-radius:3px;background:white;}
@media screen and (max-width:1000px){
    #appglass{width:100%;}
}
</style>
<script type="text/javascript">
function apploader(){
       document.getElementById('apploader').className = 'appopen';                  }
function appclose(){
       document.getElementById('apploader').className = 'appclose';            
   }
</script>