<div class="swiper-container">
<div class="swiper-wrapper">

        <div class="swiper-slide">
        	{% include 'app/_bannerhome.html'%}
		</div>
		{%for blogs in blogs%}
		<style type="text/css">
			.hblogs{padding: 20px;width: 100%;}
			.hbleft{display: inline-block;vertical-align: top;width: 30%;text-align: center;}
			.hbleft img{width: 90%;}
			.hright{display: inline-block;vertical-align: top;width: 68%;}
			.hright h2{color: white;font-size: 30px;}
			.hbmore{color: white;padding: 10px 30px;text-align: center;border-radius: 30px;background: #f47b32;display: inline-block;margin: 10px 0px;}
		</style>
		<div class="swiper-slide">
        	<section class="hblogs">
        		<div class="hbleft">
        			<a href="{% url 'app.blog' blogs.slug%}">
        			<img src="/media/{{blogs.picture}}">
        			</a>
        		</div>
        		<div class="hright">
        			<a href="{% url 'app.blog' blogs.slug%}">
        			<h2>{{blogs.title}}</h2>
        			</a>
        			<a class="hbmore" href="{% url 'app.blog' blogs.slug%}">Ver tema</a>
        		</div>
        	</section>
		</div>
		{%endfor%}

</div>
<div class="swiper-pagination"></div>
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
</div>

<script src="/static/swiper.js"></script>
 <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      spaceBetween: 30,
      autoplay: true,
      loop: true,
      speed: 5000,
      autoplayDisableOnInteraction: false,
      hashNavigation: {
        watchState: true,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      
    });
  </script>

 <div class="notice">
 <h3>Precio del Inkacoin (IKC) {{now}} . 1 IKC = <span class="green"><span id="ikccost"></span> $ COP.</span> </h3>
 </div>
<a target="_blank" href="https://play.google.com/store/apps/details?id=io.ionic.ceanv&hl=es_CO">
<div class="gplay">
<h3>Ya disponible en Google Play Store</h3>
</div>
</a>

<script type="text/javascript">
	ikccost = {{config.inkacoin}};
	document.getElementById("ikccost").innerHTML=new Intl.NumberFormat().format(ikccost);
	
</script>