{% include 'app/_bannerhome.html'%}
{% include 'app/_inkacoinprice.html'%}


		{%for blogs in blogs%}
		<style type="text/css">
			.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
    padding: 16px;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
    left: 0;
    width: 100%;
    padding: 20px;
    display: block;
}
.home-calltoaction {
    margin-bottom: 50px!important;
}
			.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
    padding: 30px;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-prev {
    padding: 30px;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
}
			.hblogs{width: 100%;height: auto;border-left: 10px solid blueviolet;}
			.hbleft{display: inline-block;vertical-align: top;width: 30%;text-align: center;}
			.hbleft img{width: 90%;}
			.hbcover{padding: 20px;width: 100%;height: auto;background: rgba(0,0,0,0.6);}
			.hright{display: inline-block;vertical-align: top;width: 68%;}
			.hright h2{color: white;font-size: 30px;}
			.hbmore{color: white;padding: 10px 30px;text-align: center;border-radius: 30px;background: #f47b32;display: inline-block;margin: 10px 0px;}
			#hblog-{{blogs.id}} {background: url(/media/{{blogs.picture}}) no-repeat center center;background-size: cover;}
		</style>
        	<section class="hblogs" id="hblog-{{blogs.id}}">
        		<div class="hbcover">
          		<div class="hbleft">
          			<a href="{% url 'app.blog' blogs.slug%}">
          			<img src="/media/{{blogs.picture}}">
          			</a>
          		</div>
          		<div class="hright">
          			<a href="{% url 'app.blog' blogs.slug%}">
          			<h2>{{blogs.title}}</h2>
          			</a>
          			<a class="hbmore" href="{% url 'app.blog' blogs.slug%}">Ver tema</a>
          		</div>
        	   </div>
        	</section>
		{%endfor%}


 

