<!--
<script type="text/javascript" src="/static/ckeditor/ckeditor-init.js"></script>
<script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
-->
 <script src="https://cdn.ckeditor.com/ckeditor5/18.0.0/classic/ckeditor.js"></script>
<div class="crearblog">
<section class="app-homeForm">
	<h2>Crear Blog</h2>
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
			<button type="submit">Publicar</button>
            </form>
</section>
</div>

<script>
ClassicEditor
    .create( document.querySelector( '#id_description' ), {
        toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'blockQuote' ],
        heading: {
            options: [
                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
            ]
        }
    } )
    .catch( error => {
        console.log( error );
    } );
    
</script>

<style type="text/css">
.crearblog{padding:2px; background:white;text-align:center;background:orange;}
.app-homeForm{width:100%;display:block;}
.app-homeForm{padding:5px;border-radius:5px;margin:0 auto;width:100%;max-width:300px}
.app-homeForm{width:100%;background: #fff7f0;}
.app-homeForm h2{background:orange;color:white;padding:10px;margin:20px 0;font-size:18px;border-radius:5px;}
.app-homeForm label{display:block;padding:5px;color:orange;font-weight:bold;}
.app-homeForm input{background:#fff;border-radius:5px;border:1px solid orange;font-size:18px;padding:10px;margin:5px 0;width:100%;}
.app-homeForm select{font-size:18px;padding:10px;margin:5px 0;width:100%;}
.app-homeForm button{color:white;background:orange;padding:10px 20px;font-size:18px;width:100%;font-weight:bold;border:none;}
.app-homeForm button:hover{cursor:move;}
#id_description{width:100%!important;margin-top:10px;padding:10px;}
.textarea{width:100%!important;margin-top:10px;padding:10px;}
</style>