<style type="text/css">
.dates-list{background:white;padding:20px;}
.dates-list h1{background:#4bdb76;color:white;padding:10px;margin:20px 0;font-size:18px;border-radius:5px;}
.dates-list article{border-radius:5px;overflow:hidden;}
.dates-list div{padding:10px;background:rgba(255,255,255,0.8);}
.dates-list figure{width:100%;height:200px;overflow:hidden;background:rgba(0,0,0,0.5);}
.dates-list article h3{padding:10px 0;font-size:20px;}
.dates-init{color:#4bdb76;font-weight:bold;}
.dates-finish{color:orange;font-weight:bold;}
.dates-list p{padding:10px 0}
.dates-list article ul a{padding:10px 20px;margin:10px 0;background:#4bdb76;color:white;text-align:center;border-radius:12px;display:inline-block;}
#date-article{{date.list}}{background:#333 url(/media/{{date.picture}})no-repeat top center;background-size:cover;}
</style>