<div class="foot">
<!-- ////////////////////////////////// app-homeFooter-->
<a href="{%url 'app.companies'%}">
<div class="holding">
<h3>Únete a nuestro Holding empresarial en Colombia</h3>
<p>Conoce nuestra lista de empresas. Te asesoramos en cada etapa del proceso para que logres tus objetivos.</p>
</div>
</a>
<style type="text/css">
.holding{text-align:center;width:100%;padding:30px;padding-top:50px;background:#407d71 url(/static/img/inkas.png)no-repeat center top 10px;background-size:40px;color:white;}
</style>
<footer>
<!--
<iframe src="{% url 'app.search' %}" ></iframe>
-->
	<p>@ProyectoUvas 2020</p>
	<ul>
	<a href="{%url 'app.login'%}">Inicio</a>
	<a href="{%url 'app.us'%}">Quienes somos</a>
    {%if config.whatsapp%}
    <a href="https://wa.me/{{config.whatsapp}}">Contacto</a>
    {%else%}
    <a href="https://wa.me/+573192121193">Contacto</a>
    {%endif%}
    <a href="{%url 'app.signup'%}">Crear una cuenta gratuita</a>
    <a href="{%url 'app.dates'%}">Eventos</a>
    <a href="{%url 'app.companies'%}">Holding empresarial</a>
    <a href="{%url 'app.products'%}">Mercado Inkacoin</a>
    <a href="{%url 'app.cart'%}">Mi lista de compras</a>
    <a href="https://biz.payulatam.com/L0ccfcfBD5BBEAA" target="_blank">Comprar Inkacoins</a>
    {%for categorys in categorys%}
		<a href="{% url 'app.category' categorys.slug%}">{{categorys.title}}</a>
    {%endfor%}
    <a href="https://www.facebook.com/proyectouvas" target="_blank">Facebook</a>
    <a href="/static/proyectouvas.apk">Descarga el App para Android</a>
    <a href="https://github.com/almaginetx/proyectouvas" target="_blank">Código fuente</a>
    <a href="{%url 'app.tasks'%}">API Documentación</a>
    <a href="{%url 'app.payments'%}">Pagos y donaciones</a>
    <a href="http://www.osoriomartinez.com">Desarrolladores</a>
    {%if user.userprofile%}
    <a href="{%url 'app.logout'%}">Cerrar sesión</a>
    {%else%}
    <a href="{%url 'app.logins'%}">Ingresar</a>
    {%endif%}
    </ul>

    <!--
	<br>
    <img class="img200" src="/static/img/payu.png">
    <br> <br>
    <img src="/static/img/bitcoin.png">
    <img src="/static/img/httpss.png">
	<img src="/static/img/logo-h1.png">
    </br></br>

    -->
    <p>Cl 18#4-85. Oficina 103. Bogotá, Colombia. (+57)3192121193</p>
	<script type="text/javascript">
	$.ajax({
	url: '/api/tracks',
	success: function(respuesta) {
		console.log("TUNEADA:");
		var tracks = JSON.stringify(respuesta);
		console.log(tracks);
		localStorage.setItem('database',tracks);
		console.log("cruda:");
		console.log(respuesta);
		for(const track in tracks){
			console.log(track.title);
		}
	},
	error: function() {
        console.log("No se ha podido obtener la información");
    }
});
</script>
</footer>
<style type="text/css">
	footer{padding: 10px;background:white;}
	footer a{color:black;padding:10px;display:inline-block;font-size:12px;}
    footer a:hover{color: #077486;}
	footer img{margin:0;auto;width:100px;height:auto;background:rgba(255,255,255,0.2);padding:5px;border-radius:3px;display:inline-block;vertical-align:top;}
	footer ul{display: block;padding: 10px;margin:10px 0;background:rgba(255,255,255,0.2);border-radius:3px;text-align: center;}
{%for link in link%}
.{{link.id}}main{color:orange;} 
{%endfor%}
    footer p{color:#333; text-align: center;padding: 10px;font-size: 10px;}
    .img200{width:260px;}
    footer iframe{width:100%;border:none;height:300px;}
</style>

  <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
<!--
<aside>
    <img src="/static/img/proyectouvascom.png">
    <style type="text/css">
    aside{background:white;width:100%;padding:20px;padding-bottom:40px;text-align:center;}
    aside img{width:300px;margin:0 auto;}
    @media screen and (max-width:1000px){
        aside img{width:100%;}
        }
    body{height:100%;}
    html{height:100%;}
    </style>
</aside>
-->

</div>
</body>
</html>