<div class="foot">
<!-- ////////////////////////////////// app-homeFooter-->
<a href="{%url 'app.companies'%}">
<div class="holding">
<h3>Únete al más grande Holding empresarial en América Latina</h3>
<p>Conoce nuestra lista de empresas y forma parte de nuestro Holding empresarial. Te asesoramos en cada etapa para que logres tus objetivos como ejecutivo de alto nivel.</p>
</div>
</a>
<style type="text/css">
.holding{text-align:center;width:100%;padding:30px;padding-top:50px;background:red url(/static/img/icons/125.png)no-repeat center top 10px;background-size:40px;color:white;}
</style>
<footer>

<iframe src="{% url 'app.search' %}" ></iframe>
	<p>Síguenos: @ProyectoUvas</p>
	<ul>
	<a href="{%url 'app.login'%}">Inicio</a>
	<a href="{%url 'app.signup'%}">Crear una cuenta gratuita</a>
	<a href="{%url 'app.us'%}">Quienes somos</a>
    {%if config.whatsapp%}
    <a href="https://wa.me/{{config.whatsapp}}">Contacto</a>
    {%else%}
    <a href="https://wa.me/+573192121193">Contacto</a>
    {%endif%}
    <a href="{%url 'app.dates'%}">Eventos</a>
    <a href="{%url 'app.products'%}">Tienda</a>
    <a href="https://biz.payulatam.com/L0ccfcfBD5BBEAA" target="_blank">Comprar Inkacoins</a>
    <a href="{%url 'app.companies'%}">Holding empresarial</a>
	<a href="http://www.osoriomartinez.com">Desarrolladores</a>
    <a href="{%url 'app.tasks'%}">API Documentación</a>
    <a href="{%url 'app.payments'%}">Pagos y donaciones</a>
    <a href="{% url 'app.paymentc'%}">Confirmar un pago</a>
    <a href="{%url 'app.cart'%}">Carrito de compras</a>
     <a href="https://github.com/almaginetx/proyectouvas" target="_blank">Código fuente</a>
    <a href="https://www.facebook.com/proyectouvas" target="_blank">Facebook</a>
	<a href="/static/proyectouvas.apk">Descarga el App para Android</a>
    <a id="appl" href="javascript:applinks()">Mapsite</a>
    </ul>
	<ul>
    {%for categorys in categorys%}
		<a href="{% url 'app.category' categorys.slug%}">{{categorys.title}}</a>
    {%endfor%}
        {%for link in link%}
		<a href="{{link.title}}" class="{{link.id}}main">{{link.create_at}}. {{link.link}}</a>
        {%endfor%}
    </ul>
	<br>
    <img class="img200" src="/static/img/payu.png">
    <br> <br>
    <img src="/static/img/bitcoin.png">
    <img src="/static/img/httpss.png">
	<img src="/static/img/logo-h1.png">
    
    </br></br>
    <p>Cl 18#4-85. Oficina 103. Bogotá, Colombia. (+57)3192121193</p>
    </br>
    
	<script type="text/javascript">
	$.ajax({
	url: '/api/tracks',
	success: function(respuesta) {
		console.log("TUNEADA:");
		var tracks = JSON.stringify(respuesta);
		console.log(tracks);
		localStorage.setItem('database',tracks);
		console.log("cruda:");
		console.log(respuesta);

		for(const track in tracks){
			console.log(track.title);
		}
	},
	error: function() {
        console.log("No se ha podido obtener la información");
    }
});
</script>

</footer>
<style type="text/css">
	footer{padding: 20px;background:#161f2d;background-color:
#144c57;
background-image: -webkit-linear-gradient(left,#144C57,#01422F);
background-image: linear-gradient(to right,
#144C57,#01422F);}

	footer a{background: url(/static/img/icons/133.png)no-repeat left 5px center;background-size:20px;color:white;padding:10px;padding-left:30px;display:block;font-size:12px;}
    footer a:hover{background:rgba(0,0,0,0.2) url(/static/img/icons/133.png)no-repeat left 5px center;background-size:20px;}
	footer img{margin:0;auto;width:100px;height:auto;background:rgba(255,255,255,0.2);padding:5px;border-radius:3px;display:inline-block;vertical-align:top;}
	footer ul{display: inline-block;vertical-align: top;padding: 10px;margin:10px 0;background:rgba(255,255,255,0.2);border-radius:3px;}
{%for link in link%}
.{{link.id}}main{color:orange;} 
{%endfor%}
    footer p{font-weight:bold;color:white; text-align: center;padding: 10px;}
    .img200{width:260px;}
    footer iframe{width:100%;margin:10px;border:none;height:300px;}
</style>

<script src="/static/swiper.js"></script>
 <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      spaceBetween: 30,
      hashNavigation: {
        watchState: true,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
  
  <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
<aside>
    <img src="/static/img/proyectouvascom.png">
    <style type="text/css">
    aside{background:white;width:100%;padding:20px;padding-bottom:40px;text-align:center;}
    aside img{width:300px;margin:0 auto;}
    body{height:100%;}
    html{height:100%;}
    </style>
</aside>

{% include 'app/_apploader.html'%}

</div>
</body>
</html>