<!-- ////////////////////////////////// app-homeForm-->

<section class="app-homeForm">
<!--	<h2>Crea tus propias presentaciones y compartelas con usuarios destacados.</h2>
	<a href="{%url 'app.signup'%}">Crea una presentación</a> -->
		<div>
			<h3>Interactua con personas en la Red Inkacoin</h3>


			  <!-- Swiper -->
  <div class="swiper-container1">
    <div class="swiper-wrapper">
    	{%for userprofiles in userprofiles%}
    	<div class="swiper-slide swiper-slide1">
			<article>
			<a href="{% url 'app.userprofile' userprofiles.slug%}">{%if userprofiles.avatar%}
				<img src="/media/{{userprofiles.avatar}}" alt="User: {{userprofiles.nickname}}">
				{%else%}
				<img src="/static/img/avatar.png" alt="User: {{userprofiles.nickname}}">
				{%endif%}</a>
			<h4>{{userprofiles.nickname}}</h4>
			</article>
		</div>
			{%endfor%}

    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination1"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next1"></div>
    <div class="swiper-button-prev1"></div>
  </div>

		</div>

		 <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container1', {
      slidesPerView: 7,
      spaceBetween: 0,
      slidesPerGroup: 3,
      loop: true,

      pagination: {
        el: '.swiper-pagination1',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next1',
        prevEl: '.swiper-button-prev1',
      },
    });

  </script>
</section>

<style type="text/css">
	.swiper-slide1{width: 158px!important;margin-right: 30px!important;}
	.swiper-container1{overflow: hidden;}
	.app-homeForm{width:100%;}
	.app-homeForm{background:#161f2d;padding:20px 30px 20px 0;}
	.app-homeForm h2{font-size:20px;text-align:left;color:#fff;padding:10px;}
	.app-homeForm h3{margin:20px;background:#077486 url(/static/img/user.png)no-repeat left 5px center;background-size:20px;;font-size:18px;text-align:left;color:#fff;padding:10px;border-radius:5px;padding-left:30px;}
	.app-homeForm a{opacity:0.8;margin:10px;display: block;padding:10px;color:#fff;border-radius:10px;text-align:center;}
	.app-homeForm a:hover{opacity:1;}
	.app-homeForm form{margin-top:10px;padding:20px;text-align:center;background:#000;width:100%;}
	.app-homeForm label{font-size:0px;display:none;}
	.app-homeForm input{padding: 10px;background:#fff;border:none;border-radius:5px;margin:3px auto;display:block;width: 100%;}
	.app-homeForm button{background:#333;border:none;border-radius:30px;padding:10px;color:#fff;text-align:center;margin:5px;}
	.app-homeForm img{width:120px;height:120px;display:inline-block;vertical-align:top;margin:5px;border-radius:50%;}
	.app-homeForm div{text-align:center;}
	.app-homeForm article{box-shadow: 1px 2px rgba(0, 0, 0, 0.1);margin:2px;background:white;display:inline-block;vertical-align:top;text-align:center;border-radius: 2px; border-bottom: 5px solid #077486;}
	.app-homeList span{font-size:10px;}
	.app-homeForm article h4{margin-bottom:5px;color:#424242;display:block;height:28px;overflow:hidden;font-size:12px;text-align:center;}
	.app-homeForm li{padding:20px;background:red;}

</style>
<style type="text/css">@media screen and (max-width:1000px){
	input{width: 100%;}
}</style>