<section class="ink">
    <section class="inkacoin">
    <img class="none" src="/static/img/inkas.jpg">
    </section>
<div class="pad">

    <p>COSTO ACTUAL INKACOIN:</p>
    <div id="down" class="green"></div>
    <p class="currency">1 IKC = <span id="currency">Costo de la crytomoneda</span> $ COP.</p>
    <p>SUBIDA MAX:</p>
    <p class="currency">1 IKC = <span id="subida">Costo de la crytomoneda</span> $ COP.</p>
    <p>BAJADA MAX:</p>
    <p class="currency">1 IKC = <span id="bajada">Costo de la crytomoneda</span> $ COP.</p>
    <p>ESTADO:</p>
    <div id="desition">Bajada de la crytomoneda</div>
    <div id="appikc"></div>
    <div id="appikcdown"></div>
    <div id="appikcup"></div>

    <section class="inkas">
        {%for wallet in wallet%}
            <article>
            <p><strong>Id Transaction: </strong>{{wallet.code}} </p><p><strong>Cost Transaction: </strong>$ {{wallet.total}} COP. </p><p><strong>IKC Transaction: </strong>{{wallet.slug}}</p>
            </article>
        {%endfor%}
    </section>
</div>
<style type="text/css">
.inkacoin{
    width:100%;
    background: url(/static/img/inkas.jpg) no-repeat top center;
    background-size: 100% 100%;
    }
.none{width:100%;height:auto;opacity:0;}
#app-loginNav{background:rgba(255,204,0,255)!important;}
.inkas{padding:20px;background:white;width:100%;}
.inkas p{display:inline-block;vertical-align:top;padding:5px;}
.inkas article{box-shadow: 1px 2px rgba(0, 0, 0, 0.1);padding:5px;border-radius:5px;}
.ink{background:#f0f2f5;width:100%;}
.pad{padding:20px;}
#down{width: 20px;height: 20px;border-radius: 50%;margin: 10px;display: inline-block;vertical-align: middle;}
.green{background: green;}
.red{background: red;}
.currency{display: inline-block;vertical-align: middle;}
</style>


<script type="text/javascript">

/* VARIABLES ENTRADA*/
    currency = {{config.inkacoin}};
    subida = {{config.maximo}};
    bajada = {{config.minimo}};
    contador = 1;
    tiempo = 1000;

    document.getElementById("currency").innerHTML=new Intl.NumberFormat().format(currency);
    document.getElementById("subida").innerHTML=new Intl.NumberFormat().format(subida);
    document.getElementById("bajada").innerHTML=new Intl.NumberFormat().format(bajada);

    /* HILO*/   
        sube();

/* FUNCION SUBIDA*/
        function sube(){
            newcurrency = currency;
            bajada = bajada;
            subida = subida;
            currency = currency;
            tiempo = tiempo;
            warning = "warning"
            desition = Math.floor((Math.random() * 2) + 1);

                if (desition == 1) {
                    setTimeout(timer, 700)
                        function timer(){
                        aleator = Math.floor((Math.random() * 100) + 1);
                        currency = currency + aleator;
                        document.getElementById("currency").innerHTML=new Intl.NumberFormat().format(currency);
                        var ref = "/ikc/" + currency;
                        $("#appikc").load(ref);
                        document.getElementById("desition").innerHTML="Subiendo";
                        if(newcurrency > subida){
                        subida = currency;
                        var refup = "/ikcup/" + subida;
                        $("#appikcup").load(refup);
                        }
                        document.getElementById("subida").innerHTML=new Intl.NumberFormat().format(subida);
                        sube();
                        }
                }else{
                    if (desition == 2){
                    document.getElementById("currency").innerHTML=new Intl.NumberFormat().format(currency);
                    document.getElementById('down').className = 'red';
                    document.getElementById("desition").innerHTML="Bajando";
                    baja();
                    }  
                }       
        }
/* FUNCION BAJADA*/
        function baja(){
            newcurrency = currency;
            bajada = bajada;
            subida = subida;
            currency = currency;
            tiempo = tiempo;
            warning = "warning";
            desition = Math.floor((Math.random() * 2) + 1);

                if (desition == 1 && currency >= 12200 ) {
                    setTimeout(timer, 700)
                        function timer(){
                        aleator = Math.floor((Math.random() * 100) + 1);
                        currency = currency - aleator;
                        document.getElementById("currency").innerHTML=new Intl.NumberFormat().format(currency);
                        var ref = "/ikc/" + currency;
                        $("#appikc").load(ref);
                         document.getElementById("desition").innerHTML="Bajando";
                         if(newcurrency < bajada){
                            bajada = currency;
                            var refdown = "/ikcdown/" + bajada;
                            $("#appikcdown").load(refdown);
                            }
                         document.getElementById("bajada").innerHTML=new Intl.NumberFormat().format(bajada);
                        baja();
                        }
                }else{
               
                    document.getElementById("currency").innerHTML=new Intl.NumberFormat().format(bajada);
                    document.getElementById('down').className = 'green';
                    document.getElementById("desition").innerHTML="Subiendo";
                    desition == 2;
                    sube();
          
                }       
        }

</script>

</section>