<style type="text/css">
    *{margin: 0;padding: 0;text-decoration: none;list-style: none;font-family: 'Roboto', sans-serif;-webkit-transition: All 0.2s ease;-moz-transition: All 0.2s ease;-o-transition: All 0.2s ease;-ms-transition: All 0.2s ease;transition: All 0.2s ease;box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
    html{height: 100%;}
    body{height: 100%;}
.appcontainer{margin-left:50px;}
.appbar{z-index:100;position:fixed;width:50px;height:100%;top:0px;left:0px;background:#9854ff;overflow: auto;}
.appbar a{display:block;text-align:center;padding:5px;font-size:11px;color:white;box-shadow: 1px 2px rgba(0, 0, 0, 0.1);}
.appbar a strong{display: inline-block;vertical-align: middle;font-size: 20px;font-weight: normal;padding-right: 3px;line-height: 0;}
.appbar a span{display: inline-block;vertical-align: middle;font-size: 11px;font-weight: normal;}
.appbar a:hover{background:rgba(0,0,0,0.2);}
.appbar img{width:24px;display: block;margin: 0 auto;}
.appbaravatar{width:36px!important;display: block;margin: 0 auto;}
.avatarlis img{border-radius:20px;height: 36px;width: 36px;}
.avatarlis{background: #eaba0c;height: 47px;}
#apploader{padding-left:60px!important}
@media screen and (max-width:1000px){

    }
</style>

<!-- MENU DE APLICACIONES-->
<div id="appbar" class="appbar">
{%if user.userprofile.slug%}
<a class="avatarlis" href="{% url 'app.welcome'%}">
{%if user.userprofile.avatar%}
<img class="appbaravatar" src="/media/{{user.userprofile.avatar}}">
{%else%}
<img src="/static/img/icons/63.png">
{%endif%}
</a>
{%endif%}
<!--
<a href="javascript:applinks()">
<img src="/static/img/icons/exp2.png">
Mensajes
</a>
-->

<!--
<a>
<img src="/static/img/icons/33.png">
Videos
</a>
-->
{%if user.userprofile%}
<a href="javascript:appcharge()">
<img src="/static/img/inkas.png">
Comprar Inkacoins
</a>
<a href="javascript:appAddTrack()">
<img src="/static/img/icons/41.png">
<strong>+</strong><span>Audio</span>
</a>
<a href="javascript:appfriends()">
<img src="/static/img/icons/112.png">
Amigos
</a>
{%endif%}
<a href="javascript:appeventos()">
<img src="/static/img/icons/84.png">
Eventos
</a>

</div>
<!--////////////////////// -->

{% include 'app/_apploader.html'%}