
<!-- MENU DE APLICACIONES-->
<div id="appbar" class="appbar">
{%if user.userprofile.slug%}
<a class="avatarlis" href="{% url 'app.welcome'%}">
{%if user.userprofile.avatar%}
<img src="/media/{{user.userprofile.avatar}}">
{%else%}
<img src="/static/img/icons/63.png">
{%endif%}
Perfil
</a>
{%endif%}
<!--
<a href="javascript:applinks()">
<img src="/static/img/icons/exp2.png">
Mensajes
</a>
-->
<a href="javascript:appeventos()">
<img src="/static/img/icons/84.png">
Eventos
</a>
<!--
<a>
<img src="/static/img/icons/33.png">
Videos
</a>
-->
<a href="javascript:appcharge()">
<img src="/static/img/icons/126.png">
Recargar IKC
</a>
<a  href="{%url 'app.logout'%}">
<img src="/static/img/icons/logout.png">
Salir
</a>
</div>
<style type="text/css">
.appcontainer{margin-left:50px;}
.appbar{z-index:100;position:fixed;width:50px;height:100%;top:52px;left:0px;background:#334f3b;}
.appbar a{display:block;text-align:center;padding:5px;font-size:11px;color:white;}
.appbar a:hover{background:rgba(0,0,0,0.2);}
.appbar img{width:33px;}
.avatarlis img{border-radius:50%;}

.foot{margin-left:50px;}
#apploader{padding-left:60px!important}

</style>
<!--////////////////////// -->