 <div id="paypal-button-container"></div>
 
 <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AXJl7zTB204Lr7ZWAEx5fM9hlqVfmvaLsV_tmmu_vkA1FgONnxu_CEPIiEqd4Q41jF0FgyNvE1ta_E-k&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            // El valor value es el que debe de modificarse
            createOrder: function(data, actions) {
              var cantidad = tickets * price;
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: cantidad
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }

        }).render('#paypal-button-container');
    </script>