<div class="payments">
<h2>Pagos y donaciones</h2>
<p>Si usted desea hacer pagos nacionales o internacionales puede consignar a los siguientes números de cuentas bancarias y enviarnos un mensaje confirmando su número de recibo.</p>

{%for payment in payment%}
<article>
<a href="{% url 'app.payment' payment.slug%}">
<div>
<img src="/media/{{payment.picture}}">
{%if payment.title%}<h3>{{payment.title}}</h3>{%endif%}
</div>
</a>
</article>
{%endfor%}

</br>
<a class="confirmc" href="{% url 'app.paymentc'%}">Confirmar un pago</a>
</div>

<style type="text/css">
.payments{background: #fff;padding:10px;margin:5px;border-radius:5px;}
.payments article{color:#fff;margin:3px;background: rgba(58, 149, 230, 0.89);padding:10px;border:1px solid rgba(58, 149, 230, 0.89); border-radius:3px;display:inline-block;width:200px;vertical-align:top;}
.payments h2{padding:10px; }
.payments h3{padding:10px 0;font-size:12px;}
.payments a{color:black;}
.payments p{padding:10px;font-size:12px;}
.payments img{width:100%; height: auto;}
.payments strong{display:block;padding:5px;font-size:12px;}
.confirmc{background:#13c15f;display:inline-block;padding:20px;color:white!important;font-size:16px;margin:5px 0;font-weight:bold!important;}
</style>