<style type="text/css">
.product-list{background:#e6e6e6;padding:10px;}
.product-list h1{background:#eaba0c url(/static/img/inkas.png)no-repeat left 5px center;background-size:20px;padding-left:30px;color:white;padding:10px;padding-left:30px;margin:20px 0;font-size:18px;border-radius:5px;}
.product-list article{border:4px solid rgba(0,0,0,0.1);border-radius:2px;overflow:hidden;width:300px;display: inline-block;vertical-align: top;}
.product-list figure{width:100%;height:200px;overflow:hidden;background:rgba(0,0,0,0.5);}
.product-list article h3{padding:10px 0;font-size:14px;font-weight: normal;}
.product-init{color:#7153dd;font-weight:bold;}
.product-finish{color:orange;font-weight:bold;}
.product-list p{padding:10px 0;color:#42aeef;font-size:12px;}
.product-list img{width:100%;height:auto;}
.boton-store{padding: 10px 20px;display: inline-block;text-align: center;background: #42aeef url(/static/img/icons/131.png)no-repeat left 10px center;background-size:30px;padding-left:50px;border-radius: 5px;margin: 10px;color: white;font-weight: bold;font-size:16px;}
.product-list article ul a{padding:10px 20px;margin:10px 0;background:#eaba0c;color:white;text-align:center;border-radius:12px;display:inline-block;}
.p-img{display: inline-block;vertical-align: top;width: 120px;}
.p-info{display: inline-block;vertical-align: top;width: 160px;}
.swiper-slide2{width: 300px!important;margin-right: 30px!important;}
	.swiper-container2{overflow: hidden;}
	.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
    left: 0;
    width: 100%;
    padding: 20px;
    display: block;
    text-align: center;
}
</style>
<div class="product-list">
{%if product%}
<h1>Adquiere productos y servicios en el mercado digital de Inkacoin</h1>

    	{%for product in product|slice:":8"%}

				<article id="product-article{{product.id}}">
					<div class="p-img">
					<a data-fancybox="watermark" href="/media/{{product.picture}}" data-caption="{{product.title}}">
					<img src="/media/{{product.picture}}">
					</a>
					</div>
					<div class="p-info">
					<h3>{{product.title}}</h3>
          {%if product.price == 0 %}
          <strong>GRATUITO</strong>
          {%else%}
					<p>Precio: <span id="inkc{{product.id}}"></span> Inkacoins.</p>
          <strong>{{product.price}} $ COP.</strong>
          {%endif%}
					<script type="text/javascript">
					var ikc = {{config.inkacoin}};
					var inkc{{product.id}} = {{product.price}} / ikc;
					var inkc{{product.id}} = inkc{{product.id}}.toFixed(2);
					document.getElementById("inkc{{product.id}}").innerHTML=inkc{{product.id}};
					</script>
					<!--
					<ul><a href="{{product.link}}" target="_blank">Comprar</a></ul>
					-->
          {%if product.price == 0 %}
					<ul><a target="_blank" href="/media/{{product.pdf}}">Descargar</a></ul>
          {%else%}
          <ul><a href="{% url 'app.addcart' product.slug%}">Comprar</a></ul>
          {%endif%}
					</div>
				</article>

			<style type="text/css">
#product-article{{product.id}}{background:white;margin: 2px;margin-bottom:5px;}
</style>
		{%endfor%}
{%else%}
<h1>No hay productos en la tienda</h1>
{%endif%}
<br>
</div>

<script src="/static/jquery.fancybox.min.js"></script>

<script type="text/javascript">
		$('[data-fancybox="watermark"]').fancybox({
  protect    : true,
  slideClass : 'watermark',
  toolbar    : true,
  smallBtn   : true,
  loop: true,
  slideShow: {
    autoStart: true,
    speed: 5000
  },
});

// Preload watermark image
// Please, use your own image
(new Image()).src = "/static/img/uva.png";
</script>

<style type="text/css">
	.fancybox-slide.watermark .fancybox-spaceball {
  background-image: url('/static/img/uva.png');
  background-size: 50px;
  background-repeat: no-repeat;
  opacity: 0.5;
  margin: 5px;
}

</style>