<div class="product-list">
{%if product%}
<h1>Tienda Ceanv</h1>
{%for product in product%}
<article id="product-article{{product.id}}">
<img src="/media/{{product.picture}}">
<div>
<h3>{{product.title}}</h3>
<p>{{product.price}} $COP</p>
<!--
<ul><a href="{{product.link}}" target="_blank">Comprar</a></ul>
-->
<ul><a href="{% url 'app.addcart' product.slug%}">Comprar</a></ul>
</div>
</article>
<style type="text/css">
#product-article{{product.id}}{background:#333 url(/media/{{product.picture}})no-repeat top center;background-size:cover;}
</style>
{%endfor%}
{%else%}
<h1>No hay productos en la tienda</h1>
{%endif%}
<style type="text/css">
.product-list{background:white;padding:20px;}
.product-list h1{background:#b512cc;color:white;padding:10px;margin:20px 0;font-size:18px;border-radius:5px;}
.product-list article{border:4px solid rgba(0,0,0,0.1);border-radius:2px;overflow:hidden;width:200px;display:inline-block;vertical-align:top;}
.product-list div{padding:10px;background:rgba(255,255,255,0.8);}
.product-list figure{width:100%;height:200px;overflow:hidden;background:rgba(0,0,0,0.5);}
.product-list article h3{padding:10px 0;font-size:14px;}
.product-init{color:#7153dd;font-weight:bold;}
.product-finish{color:orange;font-weight:bold;}
.product-list p{padding:10px 0;color:#9949c6;font-size:12px;}
.product-list img{width:100%;height:auto;}
.product-list article ul a{padding:10px 20px;margin:10px 0;background:#7153dd;color:white;text-align:center;border-radius:12px;display:inline-block;}
#product-article{{product.list}}{background:#333 url(/media/{{product.picture}})no-repeat top center;background-size:cover;}
</style>
</div>