<div class="menuapp" id="menuapp">
<a href="#slide1">Perfil</a>
<a href="#slide2">Configuración</a>
</div>
<style type="text/css">
#menuapp{text-align:center;position:fixed;background:#ecebf2d1;;bottom:0px;left:0px;width:100%;height:40px;z-index:10;}
#menuapp a {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    padding: 5px 16px;
    background: rgba(58, 149, 230, 0.89);
    margin: 4px;
    border-radius: 50px;
    font-size: 14px;
    color:white;
}
#menuapp a:active{background:blue;}
body{padding-bottom:40px;}
@media screen and (max-width:1000px){
    #menuapp{padding-left:50px;}
    }
</style>