{% include 'app/_colors.html'%}
<div class="opciones">
    <a href="javascript:appUpdatenickname()">Cambiar mi nombre de usuario</a>
</div>
<style type="text/css">
.opciones{background:white;}
.opciones a{color:#9854ff;display:block;font-size:18px;padding:10px;border-left:4px solid #9854ff;border-bottom:1px solid rgba(0,0,0,0.2);}
.opciones a:hover{background:rgba(0,0,0,0.2);}
</style>
<script type="text/javascript">
    function alertas()
    {
        alert("Actualización en el sistema, pronto estará disponible");
        }
</script>
