
{% include 'app/_header.html'%}
{% include 'app/_nav.html'%}
        {% include 'app/_banner.html'%}
        {% include 'app/_homevideo.html'%}
        {% include 'app/_products.html'%}
        {% include 'app/_homeProfiles.html'%}
        {% include 'app/_homeAudios.html'%}
        {% include 'app/_datehome.html'%}
        {% include 'app/_homeCategories.html'%}
        {% include 'app/_homeBlogs.html'%}
        {% include 'app/_map.html'%}
{% include 'app/_menuapp.html'%}
{% include 'app/_footer.html'%}