{% include 'app/_header.html'%}
{% include 'app/_nav.html'%}
        {% include 'app/_banner.html'%}
        {% include 'app/_homeblogs.html'%}
        {% include 'app/_homeProfiles.html'%}
        {% include 'app/_products.html'%}
        {% include 'app/_homeAudios.html'%}
        {% include 'app/_datehome.html'%}
        {% include 'app/_homeCategories.html'%}
        {% include 'app/_map.html'%}
{% include 'app/_menuapp.html'%}

{% include 'app/_homevideo.html'%}
{% include 'app/_footer.html'%}
<style type="text/css">
	 .gplay h3{color:#6b6f73; padding:5px;text-align:center;}
        .gplay{opacity:0.8;width:100%;height:80px;background: #caced3 url(/static/img/googleplay.jpeg)no-repeat bottom 10px center;background-size:70px;}
        .gplay:hover{opacity:1;}
</style>
<a target="_blank" href="https://play.google.com/store/apps/details?id=io.ionic.ceanv&hl=es_CO">
<div class="gplay">
<h3>Disponible en Google Play Store</h3>
</div>
</a>
<br><br>